body {
    background-color: lightblue; /* Light blue background */
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    color: darkgoldenrod;
    margin: 5px;
    font-size:50px;
}

form {
    max-width: 600px;
    margin: 20px auto; /* Center the form */
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.input-section {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 8px;
    color: sienna; /* Label text color */
}

select,
input {
    margin-bottom: 16px;
    padding: 10px; /* Increase padding for better spacing */
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    padding: 12px;
    background-color: #4caf50;
    color: whitesmoke;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: olive;
}

 #orders-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap; 
    margin: 20px auto; 
} 
